
<section class="signup">
  <%= form_for(@user, multipart: true, :html => { class:"contact-form row", role: "form"}) do |f| %>
    
    <div class="form-field col x-50">
      <%= f.text_field :first_name, class: "input-text js-input" %>
      <%= f.label :first_name, class: "label" %>
    </div>
    
    <div class="form-field col x-50">
      <%= f.text_field :last_name, class: "input-text js-input" %>
      <%= f.label :last_name, class: "label" %>
    </div>
    
    <div>
	    <div style="margin-top:70px; margin-bottom:20px;font-size: 18px; color: #888; font-weight: 400; line-height: 26px;">
	    	Display Image
	    </div>
	    <%= f.file_field :avatar %> <!--, class: "input-text js-input"-->
    </div>
    
    <div class="form-field col x-50">
      <%= f.text_field :username, class: "input-text js-input" %>
      <%= f.label :username, class: "label" %>
    </div>
    
    <div class="form-field col x-50">
      <%= f.email_field :email, class: "input-text js-input" %>
      <%= f.label :email, class: "label" %>
    </div>
    
    <div class="form-field col x-50">
      <%= f.password_field :password, class: "input-text js-input" %>
      <%= f.label :password, class: "label" %>
    </div>
    
    <div class="form-field col x-50">
      <%= f.text_field :major, class: "input-text js-input" %>
      <%= f.label :major, class: "label" %>
    </div>
    
    <div class="form-field col x-50">
      <%= f.select :year, User.years.keys.map { |w| [w.humanize, w] }, include_blank: 'select one...', class: "input-text js-input" %>
      <%= f.label :year, class: "label" %>
    </div>
    
    <div class="row" id="review-actions" style="text-align: center">
    	<div class="review-action-bg">
    		<%= f.submit "Looks Great", class: "review-action looks-great" %>
    	</div>
    </div>
  <% end %>
</section>