<%= render 'shared/errors', obj: @step %>

<%= form_for @step, :html => { multipart: true } do |f| %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    
    <div class="control-group">
        <%= f.label :step_elements %>
        <div class="controls">
            <%= file_field_tag "images[]", type: :file, multiple: true %>
        </div>
    </div>
    
    <div class="field">
        <%= f.submit %>
    </div>
    
<% end %>