<p id="notice"><%= notice %></p>
<div class="row">
    <h5><%= @dip.name %></h5>
    <h6>Dip by <%= link_to @dip.user.username, users_path(@dip.user) %></h6>
</div>

<% @dip.steps.each do |step| %>
    <%= render 'step', step: step %>
<% end %>

<%= link_to 'Back', dips_path %>
